<h2>Counter</h2>
<p *ngIf="counter % 2 == 0" appHighlight> Counter (highlight)  : {{counter}}</p>

<p>Counter = {{counter}}</p>
<p>Counter + 1 = {{counter + 1}}</p>

<input type="text" [value]="counter" /> // one way property binding
<br>
<button (click)="increment($event)">
  +1
</button>
<br>
<button (click)="counter = counter -1">
  -1
</button>
<!-- <hr>
<div>
  <h2>One way binding</h2>
  <input type="number" [value]="counter"/>

</div>
<div>
  <h2>Two way binding</h2>
  <input type="number" [(ngModel)]="counter"/>

</div>
<div>
  <h2>Two way binding</h2>
  <input type="number" [ngModel]="counter" (ngModelChange)="counter = $event"/>

</div> -->
<p> Power pipe 2^counter = {{2 | power:counter}}</p>
<p> Power pipe 3^counter = {{3 | power:counter}}</p>
<p> Power pipe counter^counter = {{counter | power:counter}}</p>
